.blog__item {
    padding: 20px;
    width: 363px;
    height: 440px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.blog__item h2 {
    text-align: center;
}

.blog__item p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn {
    background-color: #1976D2;
    padding: 10px;
    color: #fff;
    border: none;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #105ba7;
}

.cat_id {
    background-color: #1976D2;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
}